.container div {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    margin: 10px;
}

.container{
    background-color: pink;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-left: 25%;
    padding-right: 25%;
}