.container{
    background-color: pink;
    height: 900px;

    display: flex;
    justify-content: space-around;
}

.container div{
    height: 200px;
    width: 200px;
    background-color: fuchsia;
    border: 2px solid black;

}