.container{
    background-color: pink;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container div{
    height: 200px;
    width: 200px;
    background-color: fuchsia;
    border: 2px solid black;

}